:root {
  --ds-shadow-sm: 0 0 6px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.16);
  --ds-shadow-md: 0 2px 8px rgba(0,0,0,0.12), 0 4px 16px rgba(0,0,0,0.08);
  --ds-shadow-lg: 0 4px 16px rgba(0,0,0,0.16), 0 8px 32px rgba(0,0,0,0.12);
}
